<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title th:text="|${title}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>  
      /* Настройка размеров выпадающего меню */
      #fullscreenMenu {
        width: 35vh; /* Измените ширину по своему усмотрению */
        max-height: 100vh; /* Измените максимальную высоту по своему усмотрению */
      }
  
      /* Настройка размеров пунктов меню */
      #fullscreenMenu .offcanvas-body ul li {
        padding: 2vh;
      }
    </style>

</head>
<body>
<div class="container py-3">
  <header class="p-3 mb-3 border-bottom sticky-top bg-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="/images/sticker.png" class="me-2" width="40" height="40" alt="Картинка человека-павука">
        </a>


        <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#fullscreenMenu" aria-controls="fullscreenMenu">Каталог</button>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Найти..." aria-label="Search">
        </form>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-dark">Корзина</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Заказы</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/sticker.png" alt="stick" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

<main>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="fullscreenMenu" aria-labelledby="fullscreenMenuLabel">
    <div class="offcanvas-body body-content">
      <ul class="list-unstyled">
        <!--<#list products as product>
        <div>
          <p>${product.getName()}}</p>
        </div>
        </#list>-->
        <li><a class="dropdown-item" href="#">Аниме-стикеры</a></li>
        <li><a class="dropdown-item" href="#">Стикеры героев</a></li>
        <li><a class="dropdown-item" href="#">Мемные стикеры</a></li>
        <li><a class="dropdown-item" href="#">Аниме-стикеры</a></li>
        <li><a class="dropdown-item" href="#">Стикеры героев</a></li>
        <li><a class="dropdown-item" href="#">Мемные стикеры</a></li>
      </ul>
    </div>
  </div>

  <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal text-body-emphasis">Популярные товары</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер челоувека-долбоёба</h4>
        </div>
        <div class="card-body">
          <img src="/images/sticker.png" class="img-fluid" alt="Картинка человека-павука">
          <h3 class="card-title pricing-card-title">$8</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 8 января</li>
            <li>4,7 оценка</li>
            <li>1560 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер шрека</h4>
        </div>
        <div class="card-body">
          <img src="images/sticker.png" class="img-fluid" alt="Картинка шрека">
          <h3 class="card-title pricing-card-title">$5</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 4 января</li>
            <li>4,2 оценка</li>
            <li>120 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер Санбоя</h4>
        </div>
        <div class="card-body">
          <img src="images/sticker.png" class="img-fluid" alt="Картинка Санбоя">
          <h3 class="card-title pricing-card-title">$2</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 5 января</li>
            <li>4,5 оценка</li>
            <li>1500 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal text-body-emphasis">Новые товары</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер челоувека-павука</h4>
        </div>
        <div class="card-body">
          <img src="images/sticker.png" class="img-fluid" alt="Картинка человека-павука">
          <h3 class="card-title pricing-card-title">$8</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 8 января</li>
            <li>4,7 оценка</li>
            <li>1560 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер шрека</h4>
        </div>
        <div class="card-body">
          <img src="images/sticker.png" class="img-fluid" alt="Картинка шрека">
          <h3 class="card-title pricing-card-title">$5</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 4 января</li>
            <li>4,2 оценка</li>
            <li>120 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Стикер Санбоя</h4>
        </div>
        <div class="card-body">
          <img src="images/sticker.png" class="img-fluid" alt="Картинка Санбоя">
          <h3 class="card-title pricing-card-title">$2</h3>
          <ul class="list-unstyled mt-1 mb-3">
            <li>Доставка: 5 января</li>
            <li>4,5 оценка</li>
            <li>1500 отзывов</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">В корзину</button>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-header p-2 pb-md-4 mx-auto text-right">
    <h2 class="display-4 fw-normal text-body-emphasis">Акции и новости</h2>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>


</main>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md">
    <small class="d-block mb-3 text-body-secondary">Магазин стикеров © 2023-2024</small>
  </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
