<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title th:text="Аккаунт"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="container py-3">
    <div th:insert="blocks/header :: header"></div>
    <main>
        <div><h2>Выберите товар</h2></div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div th:each="el: ${products}" class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                            <a th:href="'/account/edit-product/' + ${el.id}" th:text="${el.name}" class="btn btn-warning"></a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <img src="/images/sticker.png" class="img-fluid" alt="Картинка человека-павука">
                        <h3 th:text="${el.price + ' ₽'}" class="card-title pricing-card-title"></h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>

<div th:insert="blocks/footer :: footer"></div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
